<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
	html{
		background-color: #EEF5F1;
		border : 5px solid  #90DB73;
	}
	body{
		margin: 0 !important;
		padding: 0 !important;
	}
	div.title{
		padding-left: 10px;
		width:100%;
		background-color : #90DB73;
		height : 7%;
	}
	div.container{
		padding-left:1%;
		padding-top:1%;
		margin:0 !important;
		
	}
	
</style>

</head>
<body>
	<div class = "title">
		<h1 style="color:white;"> Post-Test Induction Trainning</h1>
	</div>
	
	<div class="container">
	<div align ="left">
			<div class="row">
				<div class="col-sm-3" ><strong>Test Name :<strong></div>
				<div class="col-sm-9" >
					<div class="col-sm-4" >Participant Name :</div>
					<div class="col-sm-4" >Question :</div>
					<div class="col-sm-4" >Time Remaining :</div>
				</div>
				
				<div class="col-sm-3" ><strong>Induction Trainning<strong></div>
				<div class="col-sm-9" >
					<div class="col-sm-4" >Aku Admin</div>
					<div class="col-sm-4" >5-10</div>
					<div class="col-sm-4" > 09:00:03</div>
				</div>
				
			</div>
	</div>
	</div>
	
	
	<div class ="mainbox">
		<div class ="question">
			<h2>[Q2]</h2>
		</div>
	
	</div>



</body>